
#container{
  margin-top: 30px;
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-rows: repeat(var(--grid-rows),1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr); 
}

.gridSquare{
border: 1px solid black;
}

body{
  background-color: aquamarine;
}

#wrapper{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resize{
  margin-top: 30px;
  height: 50px;
  width: 200px;
}


